{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Абсолютно новый сайт <br>для просмотра <span>актуального</span> расписания</h1>
    <a href="{% url 'index' %}" class="btnfly">Выбрать класс</a>
    <p class="information">Cайт позволяет организовать большой объем информации о расписании на одной платформе.
    Здесь можно разместить информацию о расписании всех уроков, что значительно облегчит процесс обучения детей.</p>
    <p class="information">Благодаря этому сайту можно быстро и легко создавать расписание.
    Если происходят какие-либо изменения, то их можно оперативно внести в базу данных, чтобы все ученики были знали об актуальном расписании на любой день.</p>
    <p class="information">Сайт может существенно помочь тем, кто по возможности использует этот сайт.
    Современный и практичный дизайн говорит о том, что разработчики заботится о своих потенциальных пользователях, обеспечивая им максимальное удобство.</p>
    <style>
        a.btnfly {
        font-family:'Montserrat', sans-serif;
        font-weight:900;
        color:black;
        background:#ffd429;
        display:block;
        width:220px;
        padding:19px 0;
        margin-bottom: 10px;
        text-align:center;
        text-decoration:none;
        font-size:15px;
        transition:all 0.5s ease;
        }
    </style>
{% endblock %}